@model WebApplication3.LoanDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="col-xl-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title m-t-0">Add Loan Type</h4>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <hr />
                    <div class="form-group">
                        <label>Details</label>
                        <div>
                            <input type="text" class="form-control input-lg" required placeholder="Type" name="Detail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Loan Type</label>
                        <div>
                            @Html.DropDownList("LoanID", null, htmlAttributes: new { @class = "form-control input-lg" })
                            @Html.ValidationMessageFor(model => model.LoanID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <div>
                            @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control input-lg" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center m-b-0">
                        <div>
                            <button style="float:right" type="submit" class="btn btn-primary waves-effect waves-light">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</div>
