@model IEnumerable<WebApplication3.LoanApplication>
@{
    ViewBag.Title = "Approved";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        if (item.Verified == true && item.Accepted == true)
        {

            @Html.HiddenFor(model => item.ApplicationID)
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-heading bg-info">
                        <h3 class="card-title text-white">@Html.DisplayFor(model => item.Loan.LoanType)</h3>
                        <p style="font-size:14px" class="card-sub-title">
                            Status: @if (item.Accepted == true)
                            {<span>Active</span> }
                            else
                            { <span>Pending</span>}
                        </p>
                    </div>
                    <div class="card-body" style="font-size:16px">
                        <div>
                            @Html.DisplayFor(model => item.Reason)
                        </div>
                        <p> Rs. @Html.DisplayFor(model => item.PrincipalAmount)</p>

                    </div>
                    @*<div class="card-footer bg-white">
                        @Html.ActionLink("Accept Offer", "AcceptLoan", "EnmployeeLoanApplications", new { id = item.ApplicationID}, new { @class = "btn btn-info btn-block" })
                    </div>*@
                </div>
            </div>
        }
    }
</div>

