@model IEnumerable<WebApplication3.Loan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/plugins/nestable/jquery.nestable.css" rel="stylesheet" />
<script src="~/plugins/nestable/jquery.nestable.js"></script>
<script src="~/asset/pages/jquery.nestable.init.js"></script>
<script src="~/asset/js/jquery.min.js"></script>
<script src="~/asset/js/bootstrap.bundle.min.js"></script>
<script src="~/asset/js/waves.js"></script>
<script src="~/asset/js/jquery.slimscroll.js"></script>


@*<div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title"><b>Offered Loan Packages</b></h4>

                        <div class="custom-dd dd" id="nestable_list_1">
                            <ol class="dd-list">
                                @foreach (var l in Model)
                                {
                                    <li onclick="location.href='@Url.Action("Create", "EnmployeeLoanApplications", new {id = l.LoanID })'" class="dd-item" id="@Html.DisplayFor(model => l.LoanID)">
                                        <div class="dd-handle">
                                            @Html.DisplayFor(model => l.LoanType)
                                        </div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    Interest Rate: @Html.DisplayFor(model => l.InterestRate)
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    Policy
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <ol class="dd-list">
                                                    @foreach (var e in l.LoanDetails.ToList())
                                                    {
                                                        if (e.Category == 1)
                                                        {
                                                            <li class="dd-item">
                                                                <div class="dd-handle">
                                                                    @Html.DisplayFor(model => e.Detail)
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ol>
                                            </li>
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    Eligibility
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <ol class="dd-list">
                                                    @foreach (var e in l.LoanDetails.ToList())
                                                    {
                                                        if (e.Category == 3)
                                                        {
                                                            <li class="dd-item">
                                                                <div class="dd-handle">
                                                                    @Html.DisplayFor(model => e.Detail)
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ol>
                                            </li>
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    Terms & Condition
                                                </div>
                                            </li>
                                            <li class="dd-item">
                                                <ol class="dd-list">
                                                    @foreach (var e in l.LoanDetails.ToList())
                                                    {
                                                        if (e.Category == 2)
                                                        {
                                                            <li class="dd-item">
                                                                <div class="dd-handle">
                                                                    @Html.DisplayFor(model => e.Detail)
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="row">
    @foreach (var l in Model)
    {
        <div class="col-lg-4" style="height:auto">
            <div class="card">
                <div class="card-heading bg-info">
                    <h3 class="card-title text-white">@Html.DisplayFor(model => l.LoanType)</h3>
                </div>
                <div class="card-body">
                    <div>
                        <h4>Eligibility</h4>
                        @foreach (var e in l.LoanDetails.ToList())
                        {
                            if (e.Category == 3)
                            {
                                <p class="mb-0">@Html.DisplayFor(model => e.Detail)</p>
                            }
                        }
                    </div>
                    <div>
                        <h4>Terms & Condtion</h4>
                        @foreach (var e in l.LoanDetails.ToList())
                        {
                            if (e.Category == 2)
                            {
                                <p class="mb-0">@Html.DisplayFor(model => e.Detail)</p>
                            }
                        }
                    </div>
                    <div>
                        <h4>Policy</h4>
                        @foreach (var e in l.LoanDetails.ToList())
                        {
                            if (e.Category == 1)
                            {
                                <p class="mb-0">@Html.DisplayFor(model => e.Detail)</p>
                            }
                        }
                    </div>

                </div>
                <div class="card-footer bg-white">
                    @Html.ActionLink("Apply", "Create", "EnmployeeLoanApplications", new { id = l.LoanID }, new { @class = "btn btn-info btn-block" })
                </div>
            </div>
        </div>
    }


</div>